td,th{
    border-radius: 5px;
}

body{
    font-size: 40px;
}

#clear{
    background-color: rgb(243, 154, 209);
    color: white;
    box-shadow: 0px 5px palevioletred;
}

#clear:hover{
    background-color: red;
    color: white;
    box-shadow: 0px 5px darkred;
}

.box{
    background-color: rgba(128, 128, 128, 0.454);
    box-shadow: 0px -5px rgba(128, 3, 3, 0.454);
}

.box:hover{
    background-color: rgba(128, 3, 3, 0.454);
}

.num{
    background-color: white;
    box-shadow: 0px 5px lightblue;
    text-align: center;
}

.num:hover{
    background-color: lightgray;
}

#One{
    background-color: rgb(222, 17, 222);
    box-shadow: 0px 5px purple;
}

#One:Hover{
    background-color: rgb(173, 12, 173);
}

.operator{
    background-color: rgb(234, 200, 205);
    box-shadow: 0px 5px rgb(141, 121, 124);
    text-align:center;
}

.operator:Hover{
    background-color: rgb(192, 164, 168);
}

#Equal{
    background-color: lightgreen;
    box-shadow: 0px 5px green;
}

#Equal:hover{
    background-color: rgb(122, 202, 122);
}