h1{
    text-align: center;
}
.rainbow{
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc{
    line-height: 30pt;
    column-count: 3;
    column-gap: 20px;
    column-rule-style: solid;
}

body{
    background-image: url("Pets.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}